nav {
    overflow: hidden;
    background-color: rgb(64, 5, 131);

}
nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    background-color: #ddd;
    color: black;
}
nav a.active{
    background-color: purple;
    color: white;
}